body {
  background-color: #faf7ed;
}

header {
  padding: 21px;
  border-bottom: 1px solid black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 24px;
}
.navbar .btn {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.menu_list {
  display: flex;
  gap: 10px;
}
.menu_item {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
  margin: 20px 0;
}
.title_main {
  font-size: 25px;
}
.ticket-price {
  width: 500px;
  padding: 20px;
  background: white;
  border-radius: 10px;
}
.icon-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form_select {
  margin-top: 20px;
  position: relative;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.form_select select {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.btn-search {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #136af3;
  color: white;
  display: block;
  margin: 20px auto;
}

.input_checkbox {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.text-contact {
  margin-top: 20px;
}

.price {
  background: white;
  width: 500px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
