
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

