
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-image: url(background.png);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

header {
  padding: 21px;
  border-bottom: 1px solid black;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 24px;
}
.navbar .btn {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.menu_list {
  display: flex;
  gap: 10px;
}
.menu_item {
  list-style: none;
}

.button_list {
  display: flex;
  gap: 20px;
}
.button_list button a {
  text-decoration: none;
  color: black;
}
.button_list button {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}
main {
  position: relative;
  width: 100%;
  height: 100vh;
}
.button_list {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(20%, -50%);
}

