<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <meta charset="UTF-8">
  <title>Create trip</title>
</head>
<body>
<h1>CREATE TRIP</h1>

<form action="register" method="post">

  <label for="phoneNum">Phone number:</label><br/>
  <input type="text" name="phoneNum"><br/>

  <label for="startLocation"> Start location:</label><br/>

  <select name="location">
    <option value=""></option>
    <option value="HoChiMinh">Ho Chi Minh</option>
    <option value="DaNang">Da Nang</option>
    <option value="DaLat">Da Nang</option>
    <option value="CanTho">Can Tho</option>
    <option value="BuonMeThuot">Buon Me Thuot</option>
    <option value="NhaTran">Nha Trang</option>
  </select><br/>

  <button type="submit">Submit</button>

</form>
</body>
</html>