<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus booking</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/busBooking.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar_content">
        <form action="">
          <div class="field_group">
            <div class="field">
              <label for="">Name</label>
              <input type="text" />
            </div>
            <div class="field">
              <label for="">Phone number</label>
              <input type="text" />
            </div>
            <div class="field">
              <label for="">Amount</label>
              <input type="number" id="amount" min="1" />            
            </div>
          </div>
          <div class="field_group_row">
            <div class="field">
              <label for="">Pickup Location</label>
              <select name="">
                <option value="null"></option>
                <option value="">Hồ Chí Minh City</option>
                <option value="">Đà Lạt</option>
                <option value="">Nha Trang</option>
                <option value="">Đà Nẵng</option>
                <option value="">Đăk Lăk</option>
                <option value="">Cần Thơ</option>
              </select>
            </div>
            <div class="field">
              <label for="">Destination</label>
              <select name="">
                <option value="null"></option>
                <option value="">Đà Lạt</option>
                <option value="">Hồ Chí Minh City</option>
                <option value="">Nha Trang</option>
                <option value="">Đà Nẵng</option>
                <option value="">Đăk Lăk</option>
                <option value="">Cần Thơ</option>
              </select>
            </div>
          </div>
          <div class="field">
            <label for="">Date</label>
            <input type="date" />
          </div>
          <div class="field">
            <label for="">Note</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
          <button class="btn">
            <span>Book now</span>
            <i class="bx bx-chevron-right"></i>
          </button>
        </form>
      </div>
    </div>
    <h1 class="title-main">BOOKING BUS FORM</h1>
  </body>
</html>
