<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus Price</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/busPrice.css" />
  </head>
  <body>
    <section class="bus_price">
      <div class="bus_price_list">
        <div class="bus_price_item">
          <div class="bus_price_item_top">
            <img src="../images/Đà Lạt.png" alt="" />
            <div class="bus_price_address">
              <span>From</span>
              <p>Đà Lạt</p>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Hồ Chí Minh City</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đà Nẵng</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Cần Thơ</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đăk Lăk</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Nha Trang</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
        </div>
        <div class="bus_price_item">
          <div class="bus_price_item_top">
            <img src="../images/HCM.png" alt="" />
            <div class="bus_price_address">
              <span>From</span>
              <p>Hồ Chí Minh City</p>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Hồ Chí Minh City</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đà Nẵng</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Cần Thơ</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đăk Lăk</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Nha Trang</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
        </div>
        <div class="bus_price_item">
          <div class="bus_price_item_top">
            <img src="../images/Đà Nẵng.png" alt="" />
            <div class="bus_price_address">
              <span>From</span>
              <p>Đà Nẵng</p>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Hồ Chí Minh City</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đà Nẵng</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Cần Thơ</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đăk Lăk</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Nha Trang</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
        </div>
        <div class="bus_price_item">
          <div class="bus_price_item_top">
            <img src="../images/daklak.png" alt="" />
            <div class="bus_price_address">
              <span>From</span>
              <p>Đăk Lăk</p>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Hồ Chí Minh City</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đà Nẵng</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Cần Thơ</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đăk Lăk</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Nha Trang</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
        </div>
        <div class="bus_price_item">
          <div class="bus_price_item_top">
            <img src="../images/nhatrang.png" alt="" />
            <div class="bus_price_address">
              <span>From</span>
              <p>Nha Trang</p>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Hồ Chí Minh City</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đà Nẵng</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Cần Thơ</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đăk Lăk</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Nha Trang</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
        </div>
        <div class="bus_price_item">
          <div class="bus_price_item_top">
            <img src="../images/cantho.png" alt="" />
            <div class="bus_price_address">
              <span>From</span>
              <p>Cần Thơ</p>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Hồ Chí Minh City</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đà Nẵng</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Cần Thơ</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Đăk Lăk</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
          <div class="bus_price_item_body">
            <h2>Nha Trang</h2>
            <div class="bus_price_item_body_price">
              <div class="time">8 Hource</div>
              <div class="price">Price: 200.000 VND</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
