<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/contact.css" />
  </head>
  <body>
    <section class="contact">
      <div class="content">
        <div class="contact_heading">
          <h1>VMS</h1>
          <span> Vehicle management system</span>
        </div>
        <p class="contact_text">
          Send our team a quick message with your question, we’ll get back to
          you as soon as possible. We’re pretty responsive and will try to
          respond in a few hours
        </p>
        <div class="contact_address">
          <p>4/56 Restwell Street, Bankstown, NSW 2200</p>
          <p>Info@X2hundred.com</p>
          <p>0420 682091 OR outside of Australia +61 420 682091</p>
        </div>
      </div>
      <form action="" class="form_contact">
        <div class="field_group">
          <div class="field">
            <label for="">Name</label>
            <input type="text" />
          </div>
          <div class="field">
            <label for="">Phone</label>
            <input type="text" />
          </div>
          <div class="field">
            <label for="">Email</label>
            <input type="text" />
          </div>
          <div class="field_group">
            <div class="field_row">
              <input type="checkbox" name="" id="" />
              <label for="">Send feedback</label>
            </div>
            <div class="field_row">
              <input type="checkbox" name="" id="" />
              <label for="">Send contact for Semi Trailer</label>
            </div>
            <div class="field_row">
              <input type="checkbox" name="" id="" />
              <label for="">Forget password</label>
            </div>
          </div>
          <div class="field">
            <label for="">Send message or contact </label>
            <textarea name="" id="" cols="20" rows="10"></textarea>
          </div>
        </div>
        <div class="btn-contact">
          <button type="submit">Submit</button>
        </div>
      </form>
    </section>
  </body>
</html>
