<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRIVER CREATE</title>
    <link rel="stylesheet" type="text/css" href="driverStyles.css">
</head>
<body>
<h1>DRIVER CREATE</h1>

<form action="/drivers/api/create" method="post">

    <label for="name">Name:</label><br/>
    <input type="text" name="name"><br/>

    <label for="phoneNum">Phone number:</label><br/>
    <input type="text" name="phoneNum"><br/>

    <label for="address">Address:</label><br/>
    <input type="text" name="address"><br/>

    <label for="license"> License:</label><br/>
    <input type="text" name="license"><br/>

    <label for="salary"> Salary:</label><br/>
    <input type="number" name="salary"><br/>

    <label for="history"> History:</label><br/>
    <input type="text" name="history"><br/>

    <button type="submit">Submit</button>

</form>
</body>
</html>