<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Information</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <!-- Các CSS và JS nếu cần -->
</head>
<body>

<h2>Driver Information</h2>

<table>
    <tr>
        <th>ID</th>
        <td th:text="${driver.id}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="${driver.name}"></td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td th:text="${driver.phoneNum}"></td>
    </tr>
    <tr>
        <th>Address</th>
        <td th:text="${driver.address}"></td>
    </tr>
    <tr>
        <th>License</th>
        <td th:text="${driver.license}"></td>
    </tr>
    <tr>
        <th>Salary</th>
        <td th:text="${driver.salary}"></td>
    </tr>
    <tr>
        <th>History</th>
        <td th:text="${driver.history}"></td>
    </tr>
</table>
<a th:href="@{/drivers/api/driver/{driverId}/delete(driverId=${driver.id})}" methods="delete">Delete Profile</a>

</body>
</html>
