<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VMS Home</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="header.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <span>VMS</span>
        </div>
        <ul class="menu_list">
          <li class="menu_item"><a href="search.html">Search</a></li>
          <li class="menu_item"><a href="price.html">Price</a></li>
          <li class="menu_item"><a href="contact.html">Contact</a></li>
        </ul>
        <button class="btn btn-login">
          <a href="login.html">Login</a>
        </button>
      </div>
    </header>
    <main class="container">
      <div class="button_list">
        <button><a href="busBooking.html">Booking Bus</a></button>
        <button><a href="expressBooking.html">Express</a></button>
      </div>
    </main>
    
  </body>
</html>
