<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/login.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar_content">
        <div class="sidebar_heading">
          <h1>Vehicle Management System</h1>
          <div class="sidebar_content-desc">
            <p>Best choice for manage vehicle system</p>
            <p>Welcome back! Please login your account</p>
          </div>
        </div>
        <form action="">
          <div class="field_group">
            <div class="field">
              <label for="">Phone number</label>
              <input type="text" />
            </div>
            <div class="field">
              <label for="">Password</label>
              <input type="password" />
              <span class="password_error"
                >Wrong password, please try again!</span
              >
            </div>
            <div class="remember">
              <input type="checkbox" />
              <span>Remember me</span>
            </div>
          </div>
          <div class="btn-login">
            <button>Login</button>
          </div>
        </form>
        <div class="forgot-password">
          If you forgot your password, please send email in
          <a href="./contact.html">contact</a>
        </div>
      </div>
    </div>
    <h1 class="title-main">Welcome</h1>
  </body>
</html>
