<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/price.css" />
    <link rel="stylesheet" href="../css/header.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <span>VMS</span>
        </div>
        <ul class="menu_list">
          <li class="menu_item"><a href="./search.html">Search</a></li>
          <li class="menu_item"><a href="#">Price</a></li>
          <li class="menu_item"><a href="./contact.html">Contact</a></li>
        </ul>
        <div></div>
      </div>
    </header>
    <main>
      <div class="heading">
        Please choose information to check price of bus ticket or express
      </div>
      <h2 class="title_main">Bus ticket price</h2>
      <form action="" class="ticket-price">
        <div class="form_select">
          <select name="" id="">
            <option value="">From</option>
          </select>
          <svg
            class="icon-arrow"
            width="50"
            height="50"
            viewBox="0 0 94 82"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M70.5 41L70.8287 40.6232L71.2606 41L70.8287 41.3768L70.5 41ZM23.5 41.5C23.2239 41.5 23 41.2761 23 41C23 40.7238 23.2239 40.5 23.5 40.5V41.5ZM55.162 26.9565L70.8287 40.6232L70.1713 41.3768L54.5046 27.7101L55.162 26.9565ZM70.8287 41.3768L55.162 55.0434L54.5046 54.2899L70.1713 40.6232L70.8287 41.3768ZM70.5 41.5H23.5V40.5H70.5V41.5Z"
              fill="#222222"
            />
          </svg>

          <select name="" id="">
            <option value="">To</option>
          </select>
        </div>
        <button class="btn-search">Search price</button>
      </form>
      <h2 class="title_main">Express price</h2>
      <form action="" class="ticket-price">
        <div class="form_select">
          <select name="" id="">
            <option value="">From</option>
          </select>
          <svg
            class="icon-arrow"
            width="50"
            height="50"
            viewBox="0 0 94 82"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M70.5 41L70.8287 40.6232L71.2606 41L70.8287 41.3768L70.5 41ZM23.5 41.5C23.2239 41.5 23 41.2761 23 41C23 40.7238 23.2239 40.5 23.5 40.5V41.5ZM55.162 26.9565L70.8287 40.6232L70.1713 41.3768L54.5046 27.7101L55.162 26.9565ZM70.8287 41.3768L55.162 55.0434L54.5046 54.2899L70.1713 40.6232L70.8287 41.3768ZM70.5 41.5H23.5V40.5H70.5V41.5Z"
              fill="#222222"
            />
          </svg>

          <select name="" id="">
            <option value="">To</option>
          </select>
        </div>
        <div class="form_select">
          <select name="" id="">
            <option value="">0-5 kg</option>
            <option value="">5-10 kg</option>
            <option value="">10-15 kg</option>
            <option value="">15-20 kg</option>
            <option value="">> 20 kg</option>
          </select>
          <div class="input_checkbox">
            <input type="checkbox" name="" id="" />
            <label for="">Large item</label>
          </div>
        </div>
        <p class="text-contact">
          If you want booking semi trailer,please send <a href="#">contact</a>
        </p>
        <button class="btn-search">Search price</button>
      </form>
    </main>
  </body>
</html>
