<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search not found</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/search.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <span>VMS</span>
        </div>
        <ul class="menu_list">
          <li class="menu_item"><a href="search.html">Search</a></li>
          <li class="menu_item"><a href="price.html">Price</a></li>
          <li class="menu_item"><a href="contact.html">Contact</a></li>
        </ul>
        <div></div>
      </div>
    </header>
    <main>
      <div class="heading">
        Please text your phone number to check bus ticket or express information
      </div>
      <form class="form_search" action="">
        <div class="input-search">
          <svg
            width="30"
            height="30"
            viewBox="0 0 51 47"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              cx="23.375"
              cy="21.5416"
              rx="14.875"
              ry="13.7083"
              stroke="#33363F"
              stroke-width="2"
            />
            <path
              d="M42.5 39.1667L36.125 33.2917"
              stroke="#33363F"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>

          <input type="text" class="search_error" value="12312312" />
        </div>
        <div class="message_error">No service information found</div>
      </form>
    </main>
  </body>
</html>
