<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Trip Information</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">


</head>
<body>
<h2>Trip Information</h2>

<table>
    <tr>
        <th>ID</th>
        <td th:text="${trip.id}"></td>
    </tr>
    <tr>
        <th>Trip Code</th>
        <td th:text="${trip.tripCode}"></td>
    </tr>
    <tr>
        <th>Distance</th>
        <td th:text="${trip.distance}"></td>
    </tr>
    <tr>
        <th>price</th>
        <td th:text="${trip.price}"></td>
    </tr>
    <tr>
        <th>Start Time</th>
        <td th:text="${trip.startTime}"></td>
    </tr>
    <tr>
        <th>End Time</th>
        <td th:text="${tip.endTime}"></td>
    </tr>
    <tr>
        <th>Status</th>
        <td th:text="${trip.status}"></td>
    </tr>
</table>
<a th:href="@{/vehicle/api/vehicle/{vehicle}/delete(vehicle=${vehicle.id})}" methods="delete">Delete Profile</a>
</body>
</html>