<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vehicle Information</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">


</head>
<body>
<h2>Vehicle Information</h2>

<table>
    <tr>
        <th>ID</th>
        <td th:text="${vehicle.id}"></td>
    </tr>
    <tr>
        <th>Fuel</th>
        <td th:text="${vehicle.fuel}"></td>
    </tr>
    <tr>
        <th>Fuel Ratio</th>
        <td th:text="${vehicle.fuelRatio}"></td>
    </tr>
    <tr>
        <th>Weight</th>
        <td th:text="${vehicle.weight}"></td>
    </tr>
    <tr>
        <th>DayMaintenance</th>
        <td th:text="${vehicle.dayMaintenance}"></td>
    </tr>
    <tr>
        <th>Busy</th>
        <td th:text="${vehicle.busy}"></td>
    </tr>
    <tr>
        <th>Performance</th>
        <td th:text="${vehicle.performance}"></td>
    </tr>
</table>
<a th:href="@{/vehicle/api/vehicle/{vehicle}/delete(vehicle=${vehicle.id})}" methods="delete">Delete Profile</a>
</body>
</html>